<tr>
  <td><%= feature_description.name %></td>
  <td><button class="btn"><%= link_to t(:link_feature_description_edit), edit_feature_description_path(feature_description) %></button></td>
  <td><button class="btn"><%= link_to t(:link_feature_description_delete), feature_description, :method => :delete, :confirm => t(:delete_question), :title => "Delete #{feature_description.name}" %></button></td>
</tr>