<h1><%= t(:title_feature_description_edit) %> </h1>
<%= form_for(@feature_description) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit t(:button_feature_description_update) %>
  </div>
<% end %>
