          <h1>Feature Navigation</h1>
        </div>
        <div class="row">
          <div class="span19">

<h1><%= @feature_description.name %></h1>


<% if signed_in? %>
  <div class="administration">
    <button class="btn"><%= link_to t(:link_feature_new), new_feature_path %></button>
  </div>
<% end %>

<% if false %>
<ul class="tabs" data-tabs="tabs">
  <%= render 'features/feature_tabs', :tabs => @features %>
</ul>

<div id="my-tab-content" class="tab-content">
  <%= render 'features/feature_tabs_contents', :contents => @features %>
</div>
<% end %>
