<% tabs.each_with_index do |tab, index| %>
  <% if index == 0 %>
  <li class="active"><a href="#<%= tab.id %>"><%= tab.name%></a></li>
  <% else %>
  <li><a href="#<%= tab.id %>"><%= tab.name%></a></li>
  <% end %>
<% end %>
