<h1>Feaure List</h1>
<% if signed_in? %>
<nav class="round">
  <ul>
    <li><%= link_to t(:link_feature_new), new_feature_path %></li>
  </ul>
</nav>
<% end %>
<table>
  <%= render @features %>
</table>
