<footer>
  <nav class="round">
    <ul>
      <% if signed_in? %>
        <li><%= link_to t('link_logout'), '/logout' %></li>
      <% else %>
        <li><%= link_to t('link_login'), '/login' %></li>
      <% end %>
    </ul>
  </nav>
</footer>
