<div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
      <%= link_to t(:title), root_path , :class => "brand" %>
      <p class="pull-right">
        <% if signed_in? %>
          <%= link_to t('link_logout'), '/logout' %>
        <% else %>
          <%= link_to t('link_login'), '/login' %>
        <% end %>
      </p>
    </div>
  </div>
</div>
